{% extends 'base.html.twig' %}

{% block title %}Vérifier votre email{% endblock %}

{% block body %}
 <div style="margin:2.5vw">
    <h1>Vérifier votre email</h1>
        <div>
            <small>
                veullez vérifier votre email en allant dans votre boîte mail s'il vous plait.
            </small>
        </div>
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
