{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
<div style="margin:2.5vw">
    <p>
        Si un compte correspond à l'email envoyé, un email sera envoyé à contenant un lien pour changer de mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>>Si vous n'avez pas reçu d'email veuillez vérifier le dossier "courrier indésirable" ou <a href="{{ path('app_forgot_password_request') }}"> réessayer </a>.</p>
</div>
{% endblock %}
