{% extends 'base.html.twig' %}

{% block title %}Recréer un mot de passe{% endblock %}

{% block body %}
<div style="margin:2.5vw">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Recréer votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email et on vous enverra un lien pour recréer votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
