<h3 class=" d-flex justify-content-center align-items-center">{{ lesson.title }}</h3>
<p class=" d-flex justify-content-center align-items-center">{{ lesson.price}}€</p>
<a href="{{ path('cart_add_lesson', { id: lesson.id }) }}" class="btn btn-outline-dark d-flex align-items-center justify-content-center" id="button" style="margin-top: 1vh; margin-left: 30%">acheter</a>